@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=latin-ext");
html {
  background: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Playfair Display', serif;
}

.weatherBoard {
  margin: 0 auto;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px 400px 300px;
  grid-gap: 16px;
}

.weatherBoard__citySearch {
  background: transparent;
  grid-column: 1 / 3;
}

.weatherBoard__fiveDaysWeather {
  grid-column: 1 / 3;
}

.citySearch__buttons {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons__city {
  border: transparent;
  border-bottom: 2px solid white;
  background: transparent;
  line-height: 1.5rem;
  font-size: 18px;
  padding: 16px;
}

.buttons__search {
  background: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 8px;
  margin-left: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

.weatherBoard__msg {
  font-size: 36px;
  padding: 16px;
  color: skyblue;
}

.dayCards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 300px;
  grid-gap: 16px;
}

.card {
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
}

@media screen and (max-width: 673px) {
  html {
    background: url("https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80") no-repeat center center fixed;
  }
  .dayCards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
  }
}

@media screen and (max-width: 468px) {
  html {
    background: url("https://images.unsplash.com/photo-1498354136128-58f790194fa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") no-repeat center center fixed;
  }
  .weatherBoard, .dayCards {
    display: block;
  }
  .weatherBoard__additionalWeatherInfo {
    display: none;
  }
}
